@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

section:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;
	z-index: 9999;
	background: linear-gradient(to top, #fff, transparent);
}

section img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

section img#man {
	transform-origin: bottom;
}

#text {
	position: relative;
	color: #fff;
	font-size: 10vw;
}

.sec {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	padding: 100px;
}

.sec h2 {
	font-size: 3.5rem;
	color: #20496a;
}

.sec p {
	font-size: 1.2rem;
	color: #20496a;
}

@media (max-width: 768px) {
	.sec {
		padding: 50px;
	}

	.sec h2 {
		font-size: 2rem;
	}

	.sec p {
		font-size: 1rem;
		color: #20496a;
	}
}